<a href="https://colab.research.google.com/github/hkrsmk/beepboop-shopee-code-league-2020/blob/master/logistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kaggle data

In [ ]:
!mkdir .kaggle

In [ ]:
import json
token = {"username":[redacted],"key":[redacted]}
with open('.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [ ]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c logistics-shopee-code-league

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading SLA_matrix.xlsx to /content
  0% 0.00/9.01k [00:00<?, ?B/s]
100% 9.01k/9.01k [00:00<00:00, 15.4MB/s]
Downloading delivery_orders_march.csv.zip to /content
 96% 366M/381M [00:03<00:00, 130MB/s]
100% 381M/381M [00:03<00:00, 121MB/s]

In [ ]:
!unzip delivery_orders_march.csv.zip
!rm *.zip

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json

# actual analysis

In [57]:
import pandas as pd
import datetime
import numpy as np

In [ ]:
dataset = pd.read_csv('delivery_orders_march.csv')

In [ ]:
dataset.head()

      orderid  ...                                      selleraddress
0  2215676524  ...  Pantranco vill. 417 Warehouse# katipunan 532 (...
1  2219624609  ...  BLDG 210A Moras C42B 2B16,168 church) Complex ...
2  2220979489  ...  #66 150-C, DRIVE, Milagros Joe socorro Metro M...
3  2221066352  ...  999maII 201,26 Villaruel Barretto gen.t number...
4  2222478803  ...  G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

[5 rows x 6 columns]

In [ ]:
def convert(column):
  converted = pd.to_datetime(dataset[column] + 28800, unit = 's')
  return converted

convert('pick')

0         2020-03-02 16:39:57
1         2020-03-04 16:19:28
2         2020-03-04 15:20:34
3         2020-03-05 22:36:56
4         2020-03-04 18:38:25
                  ...
3176308   2020-04-02 18:02:08
3176309   2020-04-03 14:23:31
3176310   2020-04-02 19:29:11
3176311   2020-04-03 13:19:54
3176312   2020-04-02 18:38:43
Name: pick, Length: 3176313, dtype: datetime64[ns]

In [ ]:
def datechange(array):
  for i in range(len(array)):
    dataset[array[i]] = convert(array[i])

  return dataset

datechange(['1st_deliver_attempt', '2nd_deliver_attempt'])

                orderid  ...                                      selleraddress
0            2215676524  ...  Pantranco vill. 417 Warehouse# katipunan 532 (...
1            2219624609  ...  BLDG 210A Moras C42B 2B16,168 church) Complex ...
2            2220979489  ...  #66 150-C, DRIVE, Milagros Joe socorro Metro M...
3            2221066352  ...  999maII 201,26 Villaruel Barretto gen.t number...
4            2222478803  ...  G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...
...                 ...  ...                                                ...
3176308  31504087640510  ...  Intimate St) compound. Sekiat 2B8 98-B Mel far...
3176309  31504147352227  ...  13th 3616 Pilipinas, :1v26 1f-5 (Village) bl10...
3176310  31504462290482  ...  Lane, 379B 1739A Ivc AFPFC Cainta, Waterpark, ...
3176311  31504851495943  ...  lrt-2 Consolacion 224-A Paradise 6D 36st champ...
3176312  31505199116340  ...  (Jeepney Kaligayan VANVAN Salud ASA Lauan A-55...

[3176313 rows x 6 columns]

In [ ]:
new_dataset = dataset

def droptime(array):
  for i in range(len(array)):
    new_dataset[array[i]] = dataset[array[i]].dt.date

  return new_dataset

droptime(['pick','1st_deliver_attempt', '2nd_deliver_attempt'])

                orderid  ...                                      selleraddress
0            2215676524  ...  Pantranco vill. 417 Warehouse# katipunan 532 (...
1            2219624609  ...  BLDG 210A Moras C42B 2B16,168 church) Complex ...
2            2220979489  ...  #66 150-C, DRIVE, Milagros Joe socorro Metro M...
3            2221066352  ...  999maII 201,26 Villaruel Barretto gen.t number...
4            2222478803  ...  G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...
...                 ...  ...                                                ...
3176308  31504087640510  ...  Intimate St) compound. Sekiat 2B8 98-B Mel far...
3176309  31504147352227  ...  13th 3616 Pilipinas, :1v26 1f-5 (Village) bl10...
3176310  31504462290482  ...  Lane, 379B 1739A Ivc AFPFC Cainta, Waterpark, ...
3176311  31504851495943  ...  lrt-2 Consolacion 224-A Paradise 6D 36st champ...
3176312  31505199116340  ...  (Jeepney Kaligayan VANVAN Salud ASA Lauan A-55...

[3176313 rows x 6 columns]

In [62]:
# Working Days are defined as Mon - Sat, Excluding Public Holidays.
# SLA calculation begins from the next day after pickup (Day 0 = Day of Pickup; Day 1 = Next Day after Pickup)
# 2nd Attempt must be no later than 3 working days after the 1st Attempt,
# regardless of origin to destination route (Day 0 = Day of 1st Attempt; Day 1 = Next Day after 1st Attempt).

# if Sunday or these PHs, then don't count as working day
holidays = ['2020-03-25',
            '2020-03-30',
            '2020-03-31']

locations = ['Metro Manila',
             'Luzon',
             'Visayas',
             'Mindanao']

locations_s = ['metro manila',
             'luzon',
             'visayas',
             'mindanao']

slas = {'Metro Manila': [3, 5, 7, 7],
        'Luzon': [5, 5, 7, 7],
        'Visayas': [7, 7, 7, 7],
        'Mindanao': [7, 7, 7, 7]}

sla_data = pd.DataFrame(slas, columns = locations, index = locations)

In [109]:
sla_data = sla_data.astype('timedelta64[ns]')
sla_data

             Metro Manila  Luzon Visayas Mindanao
Metro Manila       3 days 5 days  7 days   7 days
Luzon              5 days 5 days  7 days   7 days
Visayas            7 days 7 days  7 days   7 days
Mindanao           7 days 7 days  7 days   7 days

In [79]:
sla_data.at['Luzon', 'Visayas']

7

In [64]:
dataset_locs = new_dataset

def find_locs(array, locs, loc2):
  for i in range(len(array)):
    for j in range(len(locs)):
      dataset_locs[array[i]] = np.where(dataset_locs[array[i]].apply(lambda x: (locs[j] in x) or (loc2[j] in x)),
                                        locs[j],
                                        dataset_locs[array[i]])
  return dataset_locs

find_locs(['buyeraddress', 'selleraddress'], locations, locations_s)

                orderid        pick  ...  buyeraddress selleraddress
0            2215676524  2020-03-02  ...  Metro Manila  Metro Manila
1            2219624609  2020-03-04  ...  Metro Manila  Metro Manila
2            2220979489  2020-03-04  ...  Metro Manila  Metro Manila
3            2221066352  2020-03-05  ...  Metro Manila  Metro Manila
4            2222478803  2020-03-04  ...         Luzon  Metro Manila
...                 ...         ...  ...           ...           ...
3176308  31504087640510  2020-04-02  ...  Metro Manila  Metro Manila
3176309  31504147352227  2020-04-03  ...  Metro Manila  Metro Manila
3176310  31504462290482  2020-04-02  ...  Metro Manila  Metro Manila
3176311  31504851495943  2020-04-03  ...         Luzon  Metro Manila
3176312  31505199116340  2020-04-02  ...         Luzon  Metro Manila

[3176313 rows x 6 columns]

In [68]:
dataset_locs['1st_diff'] = dataset_locs['1st_deliver_attempt'] - dataset_locs['pick']
dataset_locs['2nd_diff'] = dataset_locs['2nd_deliver_attempt'] - dataset_locs['1st_deliver_attempt']
dataset_locs.head()

      orderid        pick 1st_deliver_attempt  ...   diff 1st_diff 2nd_diff
0  2215676524  2020-03-02          2020-03-05  ... 3 days   3 days      NaT
1  2219624609  2020-03-04          2020-03-06  ... 2 days   2 days   4 days
2  2220979489  2020-03-04          2020-03-06  ... 2 days   2 days      NaT
3  2221066352  2020-03-05          2020-03-07  ... 2 days   2 days      NaT
4  2222478803  2020-03-04          2020-03-06  ... 2 days   2 days      NaT

[5 rows x 9 columns]

In [69]:
dataset_locs.drop('diff', axis = 1)

                orderid        pick  ... 1st_diff 2nd_diff
0            2215676524  2020-03-02  ...   3 days      NaT
1            2219624609  2020-03-04  ...   2 days   4 days
2            2220979489  2020-03-04  ...   2 days      NaT
3            2221066352  2020-03-05  ...   2 days      NaT
4            2222478803  2020-03-04  ...   2 days      NaT
...                 ...         ...  ...      ...      ...
3176308  31504087640510  2020-04-02  ...   2 days      NaT
3176309  31504147352227  2020-04-03  ...   3 days   1 days
3176310  31504462290482  2020-04-02  ...   2 days      NaT
3176311  31504851495943  2020-04-03  ...   4 days      NaT
3176312  31505199116340  2020-04-02  ...   4 days   1 days

[3176313 rows x 8 columns]

In [113]:
# if contains sunday/ph, -1 day to diff
def check_exceptions():
  if all:
    exceptions_no += 1

  return exceptions_no

dataset_locs.at[0, '2nd_diff'] == NaT

NameError: ignored

In [129]:
# check buyeradd and selleradd for SLA
# account for second delivery

for i in range(1000000):
  if sla_data.at[dataset_locs.at[i, 'selleraddress'], dataset_locs.at[i, 'buyeraddress']] < dataset_locs.at[i, '1st_diff']:
    dataset_locs.at[i, 'is_late'] = 1
    
  else:
    dataset_locs.at[i,'is_late'] = 0

dataset_locs

                orderid        pick  ... 2nd_diff is_late
0            2215676524  2020-03-02  ...      NaT       0
1            2219624609  2020-03-04  ...   4 days       0
2            2220979489  2020-03-04  ...      NaT       0
3            2221066352  2020-03-05  ...      NaT       0
4            2222478803  2020-03-04  ...      NaT       0
...                 ...         ...  ...      ...     ...
3176308  31504087640510  2020-04-02  ...      NaT       1
3176309  31504147352227  2020-04-03  ...   1 days       1
3176310  31504462290482  2020-04-02  ...      NaT       1
3176311  31504851495943  2020-04-03  ...      NaT       1
3176312  31505199116340  2020-04-02  ...   1 days       1

[3176313 rows x 10 columns]

In [126]:
output = pd.DataFrame({'orderid': dataset_locs['orderid'],
                   'is_late': dataset_locs['is_late']})

output.fillna(0)
output.to_csv('outputz.csv', index=False)

In [127]:
output.count

<bound method DataFrame.count of                 orderid  is_late
0            2215676524        0
1            2219624609        0
2            2220979489        0
3            2221066352        0
4            2222478803        0
...                 ...      ...
3176308  31504087640510        1
3176309  31504147352227        1
3176310  31504462290482        1
3176311  31504851495943        1
3176312  31505199116340        1

[3176313 rows x 2 columns]>

In [ ]:
outputcsv = pd.read_csv('output.csv')
outputcsv.count

<bound method DataFrame.count of                 orderid  is_late
0            2215676524        0
1            2219624609        0
2            2220979489        0
3            2221066352        0
4            2222478803        0
...                 ...      ...
3176308  31504087640510        0
3176309  31504147352227        0
3176310  31504462290482        0
3176311  31504851495943        0
3176312  31505199116340        0

[3176313 rows x 2 columns]>

In [ ]:
!kaggle competitions submit -c logistics-shopee-code-league -f output.csv -m "beepboop submission"